<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="container inner">
        <div class="logo">
          <i class="uil uil-cell"></i>
          CV
        </div>
        <div class="navigation">
          <ul>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#contact">Contact Me</a></li>
            <li><a href="#projects">My projects</a></li>
            <li><a href="#about">About Me</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="container">
      <section class="profile">
        <div class="left">
          <div class="avatar__block">
            <img src="./images/user.jpg" alt="" srcset="" />
          </div>

          <div>
            <h2>Vikram Deshmukh</h2>
            <p class="cd-headline loading-bar">
              <span class="cd-words-wrapper">
                <b class="is-visible">Web Developer</b>
              </span>
            </p>
          </div>
        </div>
        <div class="right">
          <ul class="contacts">
            <li>
              <i class="fas fa-phone"></i>
              <strong>Phone : </strong>
              9370179998
            </li>
            <li>
              <i class="fas fa-envelope-square"></i>
              <strong>Email : </strong>
              vikramdeshmukh69@gmail.com
            </li>
            <ul class="socials">
              <li>
                <a href="https://github.com/vikram823" target="_blank">
                  <i class="fab fa-github"></i>
                </a>
                <a
                  href="https://www.linkedin.com/in/vikram-deshmukh-7243151b8"
                  target="_blank"
                >
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="http://">
                  <i class="uil uil-facebook"></i>
                </a>
              </li>
            </ul>
          </ul>
        </div>
      </section>

      <section class="about" id="about">
        <h1 class="section_heading">About Me</h1>
        <div class="content">
          <div class="left">
            <h2>I'am Vikram Deshmukh</h2>
            <p>
              Self-motivated student seeking an internship position in a good
              organization where my potentials will be fully discovered while
              working for the company dedicatedly. Comes with exceptional
              ability to work and learn at the same time to gain experience and
              further my knowledge on the system.

            </p>
            <a
              href="#"
              download="E:\\\\\resume\data\Vikram_Deshmukh_Resume.pdf"
            ><button>Download Cv</button></a>
          </div>
          <div class="right">
            <p>
              <span>Name</span>
              :
              <span>Vikram Deshmukh</span>
            </p>
            <p>
              <span>Date of birth</span>
              :
              <span>02-11-1999</span>
            </p>
            <p>
              <span>Interests</span>
              :
              <span>Football, Web development</span>
            </p>
          </div>
        </div>
      </section>

      <section class="skills" id="skills">
        <h1 class="section_heading">Education & Skills</h1>
        <div class="content">
          <div class="left">
            <dvi class="inner_left">
              <div class="heading">
                <i class="fas fa-university"></i>
                <h5>Education</h5>
              </div>
              <div class="timeline_wrapper">
                <div class="item">
                  <p>10th-NARAYANA VIDYALAYAM</p>
                  <p>->90.40%</p>
                </div>
                <div class="item">
                  <p>12th-NARAYANA VIDYALAYAM</p>
                  <p>->80.40%</p>
                </div>
                <div class="item">
                  <p>Btech-MIT-WPU</p>
                  <p>->8.97cgpa</p>
                </div>
              </div>
            </dvi>
            <div class="inner_right">
              <div class="heading">
                <i class="fas fa-briefcase"></i>
                <h5>Experience</h5>
              </div>
              <div class="timeline_wrapper">
                <div class="item">
                  <p>Wordpress Developer</p>
                  <p>->The house of jersey</p>
                </div>
                {{! <div class="item">
                  <p>12th</p>
                  <p>80.40%</p>
                </div> }}
              </div>
            </div>
          </div>
          <div class="right">
            <div class="skill_wrapper">
              <div class="skill_box">
                <h4>HTML</h4>
                <div class="progress_wrap">
                  <span data-percent="80" class="progress_bar">
                    <span class="tooltip">50%</span>
                  </span>
                </div>
              </div>
              <div class="skill_box">
                <h4>Css</h4>
                <div class="progress_wrap">
                  <span data-percent="80" class="progress_bar">
                    <span class="tooltip">50%</span>
                  </span>
                </div>
              </div>
              <div class="skill_box">
                <h4>Javascript</h4>
                <div class="progress_wrap">
                  <span data-percent="60" class="progress_bar">
                    <span class="tooltip">50%</span>
                  </span>
                </div>
              </div>
              <div class="skill_box">
                <h4>Nodejs</h4>
                <div class="progress_wrap">
                  <span data-percent="60" class="progress_bar">
                    <span class="tooltip">50%</span>
                  </span>
                </div>
              </div>
              <div class="skill_box">
                <h4>MongoDB</h4>
                <div class="progress_wrap">
                  <span data-percent="50" class="progress_bar">
                    <span class="tooltip">50%</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="counter_wrapper">
        <div>
          <div>
            <i class="fas fa-project-diagram"></i>
          </div>
          <div>
            <h3><span class="counter" data-count="5">5</span></h3>
            <h5>Completed Projects</h5>
          </div>
        </div>
        <div>
          <div>
            <i class="fas fa-graduation-cap"></i>
          </div>
          <div>
            <h3><span class="counter" data-count="1">80</span></h3>
            <h5>Internships</h5>
          </div>
        </div>
        <div>
          <div>
            <i class="fas fa-male"></i>
          </div>
          <div>
            <h3><span id="visits">2</span></h3>
            <h5>Site Visits</h5>
          </div>
        </div>
      </section>

      <section class="work" id="projects">
        <h1 class="section_heading">My Work</h1>
        <div class="slider">
          <div class="slide">
            <h2>Project Title</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
              ipsa at ab enim omnis, totam reiciendis! Voluptate praesentium
              dolor eligendi.
            </p>
          </div>
          <div class="slide">
            <h2>Project Title</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
              ipsa at ab enim omnis, totam reiciendis! Voluptate praesentium
              dolor eligendi.
            </p>
          </div>
          <div class="slide">
            <h2>Project Title</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
              ipsa at ab enim omnis, totam reiciendis! Voluptate praesentium
              dolor eligendi.
            </p>
          </div>
        </div>
      </section>

      <section class="contact" id="contact">
        <h1 class="section_heading">Contact Me</h1>
        <div class="wrapper">
          <div class="left">
            <div>
              <div>
                <i class="fas fa-phone"></i>
              </div>
              <div>
                <h4>Call Me:</h4>
                <span>9370179998</span>
              </div>
            </div>
            <div>
              <div>
                <i class="fas fa-envelope-square"></i>
              </div>
              <div>
                <h4>Mail Me:</h4>
                <span>vikramdeshmukh69@gmail.com</span>
              </div>
            </div>
            <div>
              <div>
                <i class="fas fa-house-user"></i>
              </div>
              <div>
                <h4>Find Me:</h4>
                <span>9A shreefal apt pandey layout khamla, nagpur</span>
              </div>
            </div>
          </div>
          <div class="right">
            <form action="/" method="POST">
              <div class="form_group">
                <div>
                  <label for="">Name</label>
                  <input type="text" name="name" required />
                </div>
                <div>
                  <label for="">Email</label>
                  <input type="text" name="email" required />
                </div>
              </div>
              <div class="form_group dropdown_wrapper">
                <div>
                  <label for="">Query</label>
                  <select name="query" id="" required>
                    <option value="query">Query</option>
                    <option value="feedback">Feedback</option>
                    <option value="complaint">Complaint</option>
                    <option value="other">Other</option>
                  </select>
                </div>
              </div>
              <div class="form_group textarea_wrapper">
                <div>
                  <label for="">Message</label>
                  <textarea
                    name="message"
                    id=""
                    cols="30"
                    rows="4"
                    required
                  ></textarea>
                </div>
              </div>
              <button type="submit">Submit</button>
            </form>
          </div>
        </div>
      </section>
    </main>
    <script
      src="https://kit.fontawesome.com/97466282cd.js"
      crossorigin="anonymous"
    ></script>
    <script src="./js/app.js"></script>
  </body>
</html>